<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>出库</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/checkout.css">

</head>

<body>
    <div id="app" v-cloak>
        <div class="content">
            <ul class="content_uu">
                <li>
                    <span>产品名称</span>
                    <input v-model="orderName" disabled type="text">
                </li>
                <li>
                    <span>产品标号</span>
                    <input v-model="orderSn" type="text" placeholder="请输入产品标号">
                </li>
                <li>
                    <span>出库数量</span>
                    <input v-model="number" type="number" placeholder="请输入出库数量">
                </li>
            </ul>
            <div class="btn" @click="confirm">确定</div>
        </div>
    </div>
</body>

</html>

<script src="js/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/api.js"></script>
<script src="js/cheakout.js"></script>