<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="css/lookProcure.css">
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="index_main">
            <div class="procure_list" v-for="(item,index) in procureList" @click="lookPetail(item.id)">
                <div class="procure_top">
                    <span v-if="currentType != 4">{{time}}</span>
                    <span v-if="currentType == 1">{{item.delivery_at}}</span>
                    <span v-if="currentType == 2">{{item.in_system_at}}</span>
                    <span v-if="currentType == 3">{{item.out_system_at}}</span>
                    <span v-if="currentType == 4">{{item.delivery_at}}</span>
                </div>
                <hr>
                <div class="procure_bot">
                    <div class="procure_bot_mid">
                        <img class="P_img" :src="item.product_image | filterImg" alt="">
                        <div class="procure_num">
                            <p>名称：{{item.product_name}}</p>
                            <p>数量：{{item.qty.toString().replace(/-/g, "")}}个</p>
                        </div>
                    </div>
                    <!-- 为所有订单或库存时展示操作按钮 -->
                    <span v-if="currentType == 1 || currentType == 4" class="P_detail"
                        @click="detail(item.id,item.qty,item.product_name)">{{btn}}</span>
                </div>
            </div>

            <!-- 没有订单 -->
            <div class="not_procure" v-if="procureList==''">
                <img class="index_not" src="img/not.png" alt="">
                <p>还没有任何订单哦</p>
                <!-- <span class="addProcure" @click="addProduce">添加订单</span> -->
            </div>
        </div>
    </div>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/api.js"></script>
<script src="js/lookProcure.js"></script>